<%- include('partials/head') %>

  <body>
     <%- include('partials/navbar') %>
    <h1>Number: <%= num %></h1>
    <% if (num % 2 === 0) { %>
    <h2>This is even number</h2>
    <% } else { %>
    <h2>This is odd number</h2>
    <% } %>
    <h3><%= num % 2 === 0 ? 'Even' : 'Odd' %></h3>
  </body>
</html>
