<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 1+2+2 %></h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente
      officia ratione expedita, soluta id praesentium cumque repellat dolor
      rerum laudantium officiis quod neque, blanditiis magni maxime vitae
      maiores sed. Lorem ipsum dolor sit amet consectetur adipisicing elit. Et
      sapiente officia ratione expedita, soluta id praesentium cumque repellat
      dolor rerum laudantium officiis quod neque, blanditiis magni maxime vitae
      maiores sed.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Et sapiente
      officia ratione expedita, soluta id praesentium cumque repellat dolor
      rerum laudantium officiis quod neque, blanditiis magni maxime vitae
      maiores sed.
    </p>
  </body>
</html>
